<div class="contianer">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse2.mm.bing.net/th?id=OIP._k2OZ_24P1Yk1u6L3IpHwAHaE8&pid=Api&P=0&w=285&h=190" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">BCA</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.f24NXbRv5UgFDgXMGOMuaQHaF7&pid=Api&P=0&w=196&h=157" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">BBA</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.uA7nQb2X4uSP1RltkTdFFwAAAA&pid=Api&P=0&w=182&h=171" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">BCOM CA</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.uA7nQb2X4uSP1RltkTdFFwAAAA&pid=Api&P=0&w=182&h=171" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">BCOM TAX</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.XTH7yu0AV6tlFKz3inLAMQHaEo&pid=Api&P=0&w=290&h=181" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">BA ENGLISH</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.anwCDcTZeY9GAyvEi5tT3AAAAA&pid=Api&P=0&w=385&h=165" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PCA</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse4.explicit.bing.net/th?id=OIP.bfhdrb7e8KZ3jJGFwmyawwAAAA&pid=Api&P=0&w=261&h=173" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">BJMC</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.8dItoM3m5kMsLaIkKPy3fwHaFH&pid=Api&P=0&w=291&h=201" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">MCA</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse1.mm.bing.net/th?id=OIP.TVRE_1cofF1VJ0cIRA1Y8gHaD3&pid=Api&P=0&w=291&h=151" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">MBA</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.1cm0oc9765Qb2i54tW-Z-gAAAA&pid=Api&P=0&w=235&h=157" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">MCOM</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
